
/*===========================================
================== CONCEPT =================
===========================================*/
#concept .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5A5A5A;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title h2.title { letter-spacing: 12px; }
.main-title h3.subtitle { font-family: "HelveticaC"; }

.main-title img{
    width: 75px;
    margin-top: 15px;
    margin-bottom: 15px
}

.main-title h3{
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom:20px;
    color: #fff;
}
#concept .content{
    width: 50%;
    text-align: center;
    font-size: 1.2em;
    line-height: 30px;
    margin-top: 20px;
}