/*===========================================
================== FONT ==================
===========================================*/

@font-face {font-family: "Abolition";
    src: url("../fonts/8731379ec2c920f40cdc206c1310c6a1.eot"); /* IE9*/
    src: url("../fonts/8731379ec2c920f40cdc206c1310c6a1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/8731379ec2c920f40cdc206c1310c6a1.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/8731379ec2c920f40cdc206c1310c6a1.woff") format("woff"), /* chrome、firefox */
    url("../fonts/8731379ec2c920f40cdc206c1310c6a1.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/8731379ec2c920f40cdc206c1310c6a1.svg#Abolition W00 Soft") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "HelveticaLC";
    src: url("../fonts/HelveticaLTStd-LightCond_1.otf");
}

@font-face {font-family: "HelveticaUC";
    src: url("../fonts/HelveticaLTStd-UltraComp_1.otf");

}@font-face {font-family: "HelveticaC";
    src: url("../fonts/HelveticaLTStd-Cond_1.otf");
}

/*===========================================
================== GENERAL ==================
===========================================*/
*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .3s ease-in;
   -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.displaynone { display: none; }
body {
    font-family: "HelveticaLC";
    font-size: 16px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, h1, .h1, h2, .h2, h3, .h3 {
    padding: 0;
    margin: 0;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
ul, ol { margin: 0; padding: 0; }

h2.title{
    font-family: "Abolition";
    font-size: 2.7em;
}
.padding-top-100 { padding-top: 100px; }
.padding-bottom-100 { padding-bottom: 100px; }
.padding-100 { padding-top: 100px; padding-bottom: 100px; }
.padding-top-70 { padding-top: 70px; }
.padding-bottom-70 { padding-bottom: 70px; }
.padding-70 { padding-top: 70px; padding-bottom: 70px; }

.padding-top-50 { padding-top: 50px; }
.padding-bottom-50 { padding-bottom: 50px; }
.padding-50 { padding-top: 50px; padding-bottom: 50px; }


/*===========================================
================== COLORS ==================
===========================================*/
.colorGold { color: #f2a916; }
.bgGold { background-color: #f2a916; }

.colorBlack { color: #000; }
.bgBlack { background-color: #000; }

.colorWhite { color: #fff; }
.bgWhite { background-color: #fff; }

/*===========================================
================== HEADER ==================
===========================================*/
#masthead { position: fixed; top: 0; left: 0; z-index: 100; width: 100%; }
.logged-in #masthead { top: 32px;}
h1#logo { font-size: 1em; }
h1#logo a { font-family: "Abolition"; color: #fff; font-size: 2em; }
h1#logo a:hover { color: #f2a916; }
.navbar { margin: 0; border-radius: 0; border: none; background-color: rgba(0,0,0,.7); color: #fff; }
.navbar-default { display: flex; flex-wrap: wrap; justify-content: space-between; padding: 5px 25px; }
.navbar-default:before, .navbar-default:after { content: none; }
.navbar-header { float: none; }
.navbar-default .navbar-nav>li>a { color: #fff; font-family: "HelveticaC"; text-transform: uppercase; }
.navbar-default .navbar-nav>li>a:hover { color: #f2a916; }

/*===========================================
================== CONCEPT ==================
===========================================*/

.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*===========================================
================== PLATS ==================
===========================================*/


